.header {
   background: #FFFFFF;
   padding: 10px 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
   box-shadow: 2px 3px 2px #e8e8e8;
}

.wrapper {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.title {
   font-size: 26px;
   font-weight: 600;
}