.order {
   margin: 0 auto;
}

.lists {
   margin-top: 12;
   height: 32;
   font-family: 'Montserrat', sans-serif;
   color: #6d7d9e;
   text-align: center;
}

.name {
   font-size: 22px;
   font-weight: bold;
   color: #6d7d9e;
}

.total {
   float: right;
   margin-bottom: 30px;
}

.totalNumber {
   font-size: 20px;
   margin-left: 6px;
}

.blockButton {
   float: right;
   margin-left: 20px;
}